# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Node
node_modules/

# Python
__pycache__/
*.pyc
venv/

# Go
bin/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*

# Logs
*.log

# Environment
.env
.env.*